@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

* {
    font-family: Maven Pro, sans-serif;
}

body {
    background-color: #D3D3D3;
}

header {
    background-color: #FFF;
    border-bottom: solid 1px black;
}



li {
    font-size: 1.5rem;
}

a:hover {
    font-weight: 600;
    
}

a:active {
    text-shadow: -0.5px 0.5px black;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
   }

/* Post List View */

.post-container {
    width: 50%;
    margin: 0 auto;
}

.single-post {
    background-color: #fff;
    border: #000 solid 1px;
}

#post-info {
    font-size: 12px;
    font-style: italic;
}

#post-content {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
}

.errorlist {
    display:none;
}
