@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

* {
    font-family: Maven Pro, sans-serif;
}

body {
    
    background-color: #000;
}

header {
    background-color: #292b2c;
    border-bottom: 1px solid #FFCF74;
    
}

h4, p {
    color: #fff;
}

span {
    color: #FFCF74;
}


li {
    font-size: 1.5rem;
    color: #FFCF74;
}

.nav-link:hover {
    color: white;
}

.nav-link {
    color: #fff;
}

a:hover {
    font-weight: 600;
}

a:active {
    text-shadow: -0.5px 0.5px black;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
   }

/* Post List View */

.post-container {
    width: 50%;
    margin: 0 auto;
}

.post {
    background-color: #292b2c;
    border: 2px solid #FFCF74;
    border-radius: 2px;
}

.post:hover {
    
    background-color: #3e4041;
}

#post-info {
    font-size: 12px;
    font-style: italic;
}

#post-content {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
}

.post-link:hover {
    font-weight: initial;
}

.post-link {
    
}

.errorlist {
    display:none;
}

.form-control:hover {
    border: 1px solid black;
}

.post-button {
    background-color:#363940;
    color:#fff;
    border: #FFCF74 solid 2px;
}

.post-button:hover {
    color: #000;
    background-color:#FFCF74;
}


/* Single Post View */

.single-post {
    border-bottom: none;
}

#border {
    border-bottom: 2px solid #FFCF74;
    width: 50%;
    display: inline-block;
    position: absolute;
    left: 25%;
    

}