@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

* {
    font-family: Maven Pro, sans-serif;
}
html {
    width: 100vw;
    overflow-x:hidden;
}

body {
    background-color: #000;
    color: #FFCF74;
}

header {
    background-color: #292b2c;
    border-bottom: 1px solid #FFCF74;
    
}

a, a:visited {
    color:#FFCF74;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

span, h6, p {
    color: #fff;
}

.important-text {
    color:#FFCF74;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    color: #fff;
}

li {
    font-size: 1.5rem;
}

.form-group > p > label {
    color: #FFCF74;
}

/* Post List View */

.post-container {
    width: 50%;
    margin: 0 auto;
}

.post {
    background-color: #292b2c;
    border: 2px solid #FFCF74;
    border-radius: 2px;
}

#post-info {
    font-size: 12px;
    font-style: italic;
    
}

#post-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.post-link:hover {
    font-weight: initial;
}

.errorlist {
    display:none;
}

.form-control:hover {
    border: 1px solid black;
}

.post-button, .post-button:visited {
    background-color:#363940;
    color:#fff;
    border: #FFCF74 solid 2px;
}

.comment-like-btn {
    background-color:#1d1e1f;
    color:#FFCF74;
    border:none;
}

.comment-like-btn:hover {
    background-color:#3e4041;
}

.post-button:hover {
    color: #000;
    background-color:#FFCF74;
}


/* Single Post View */

.single-post {
    background-color: #292b2c;
    border: 2px solid #FFCF74;
    border-radius: 2px;
    border-bottom: none;
}

.post-options {
    
    background-color: #292b2c;
}

.comment-container {
    background-color: #292b2c;
    border-left: #FFCF74 solid 2px;
    border-right: #FFCF74 solid 2px;
}

.comment-like {
    border-bottom: 1px dotted #FFCF74;
}

.form-control {
    background-color: #3e4041;
}

.comment-color {
    background-color: #3e4041;
}

.comment-container > h4 {
    text-decoration: underline;
    color: #fff;
}

.last-comment {
    border-bottom: #FFCF74 solid 2px;
}

 /* Forms */

.comment-form {
    background-color:#1d1e1f;
}

.form-container {
    background-color: #292b2c;
    border: 2px solid #FFCF74;
    border-radius: 2px;
 }