{% extends 'base.html' %}
{% block content %}

<div class="container-md mt-2">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-10 offset-md-1 mt-4 px-3 pb-3 post">
            {% if post.author == request.user %}
            <span id="post-info">Posted by <strong>YOU</strong> on {{ post.created_date }}</span>
            {% else %}
            <span id="post-info">Posted by {{ post.author }} on {{ post.created_date }}</span>
            {% endif %}
            <a class="post-link" href="post/{{ post.post_id }}">
                <h4 class="fs-4 fw-bold">{{ post.title }}</h4>
                    <p id="post-content">{{ post.content }}</p>
            </a>
            <a href="post/{{ post.post_id }}" class="btn-sm fs-6 post-button ">Comment</a>
            {% if post.author == request.user %}
            <a href="/edit_post/{{ post.post_id }}" class="btn-sm fs-6 post-button">Edit</a>
        
        {% endif %}
        </div>
    {% endfor %}
    </div>
</div>


{% endblock %}