{% extends 'base.html' %}
{% block content %}



{% for post in posts %}
<div class="single-post container-md px-4 mt-4">
    <div class="row">
        <div class="col-10">
            {% if post.author == request.user %}
            <span id="post-info">Posted by <strong>YOU</strong> on {{ post.created_date }}</span>
            {% else %}
            <span id="post-info">Posted by {{ post.author }} on {{ post.created_date }}</span>
            {% endif %}
        </div>
        <div class="col-2"><i class="fa-light fa-heart"></i></div>
    </div>
    {% if post.title %}
    <div class="row">
        <div class="col fs-4 fw-bold">{{ post.title }}</div>
    </div>
    {% endif %}
    <div class="row">
        <p class="col" id="post-content" >{{ post.content }}</p>
    </div>
    <div class="row mb-2">
        <div class="col-1">
            <a href="/{ post.post_id }">
                <button class="btn-sm btn-outline-dark">Comment</button>
            </a>
        </div>
        {% if post.author == request.user %}
        <div class="col-1">
            <a href="/edit/{{ post.post_id }}">
                <button class="btn-sm btn-outline-dark">Edit</button>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}


{% endblock %}