{% extends 'base.html' %}
{% block content %}

<!--Post Section-->
<div class="container-md mt-4">
    <div class="row">
        <div class="col-md-10 offset-md-1 single-post">
            {% if post.author == request.user %}
            <span id="post-info">Posted by <strong>YOU</strong> on {{ post.created_date }}</span>
            {% else %}
            <span id="post-info">Posted by {{ post.author }} on {{ post.created_date }}</span>
            {% endif %}
    {% if post.title %}
            <h4 class="fs-4 fw-bold">{{ post.title }}</h4>
    {% endif %}
        <p>{{ post.content }}</p>
    
</div>
</div>



<!--Comment Section-->

    <div class="row">
        <div class="col-md-10 offset-md-1 comment-container comment-like pb-1">
            <form action="{% url 'like_post' post.post_id %}" method="POST" class="d-inline">
                {% csrf_token %}
            <button class="btn-sm {% if liked %} post-button-liked {% else %} post-button {% endif %}" type="submit" name="post.post_id" value="{{ post.post_id }}"><i class="fa-regular fa-heart"></i> {{ post.likes_amount }}</button></form>
            <button type="button" class="btn-sm fs-6 post-button" data-bs-toggle="collapse" data-bs-target=".collapse"  aria-expanded="false" aria-controls="collapse"><i class="fa-regular fa-comment"></i> Comment</button>
            </div>
        <div class="col-md-10 offset-md-1 {% if comment_button %} collapse.show {% else %} collapse {% endif %} py-2 comment-container comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                {{ comment_form }}
            <input type="submit" name="Submit" value="Submit" data-bs-toggle="collapse" data-bs-target=".collapse" aria-controls="collapse" class="btn fs-6 post-button mt-2">
        </div>
        {% if comments %}
        {% for comment in comments %}
        <div class="col-md-10 offset-md-1 pt-2  comment-container {% if forloop.counter|divisibleby:2 %}{% else %}comment-color{% endif %} {% if forloop.last %}last-comment{% endif %}">
            <span class="important-text">{{ comment.author }} - {{ comment.created_date }}</span>
            <p class="ps-2 mt-2">{{ comment.body }}</p>
            <a href="/delete_comment/{{ comment.comment_id }}" class="btn-sm post-button">Delete</a>
            <a href=""></a>
        </div>
        {% endfor %}  
        {% else %}
        <div class="col-md-10 offset-md-1 last-comment comment-container">
            <h6 class="pt-2">Be the first one to comment on this post!</h6>
        </div>
        {% endif %}
        
    </div>
    </div>


    {% endblock %}