{% extends 'base.html' %}
{% block content %}


<div class="post single-post container-md px-4 mt-4">
    <div class="row">
        <div class="col-10">
            {% if post.author == request.user %}
            <span id="post-info">Posted by <strong>YOU</strong> on {{ post.created_date }}</span>
            {% else %}
            <span id="post-info">Posted by {{ post.author }} on {{ post.created_date }}</span>
            {% endif %}
        </div>
        <div class="col-2"><i class="fa-light fa-heart"></i></div>
    </div>
    {% if post.title %}
    <div class="row mb-4">
        <div class="col"><h4 class="fs-4 fw-bold">{{ post.title }}</h4></div>
    </div>
    {% endif %}
    <div class="row mb-4">
        <p class="col" >{{ post.content }}</p>
    </div>
    <div class="row mb-2">
        <div class="col-2 offset-2">
                <button class="btn-sm fs-6 post-button">Comment Count</button>
        </div>
        {% if post.author == request.user %}
        <div class="col-2">
                <button class="btn-sm fs-6 post-button">Like Count</button>
        </div>
        {% endif %}
    </div>
    <div id="border"></div>
</div>

{% endblock %}